# Python
venv
.venv
__pycache__
*.py[cod]

# Node
node_modules

# TypeScript
*.tsbuildinfo

# Django
media
staticfiles
mediafiles

# Next
.next
.out

# IDE
.idea

# Docker - Docker Compose
wsd/server/nginx.conf

# ETC
*.log
*.env
.DS_Store
*.pem
npm-debug.log*
*.mo
.env.sentry-build-plugin
