{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    ".*\\.css$",
    "^~(?:\/.*)?$",
    "^next(?:\/.*)?$",
    "^react(?:\/.*)?$",
    "^lucide-react(?:\/.*)?$",
    "^lodash(?:\/.*)?$",
    "^@sentry(?:\/.*)?$",
    "^@radix-ui(?:\/.*)?$",
    "^@/components(?:\/.*)?$",
    "^@(?:\/.*)?$",
    "<THIRD_PARTY_MODULES>"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
