django==4.1.1
pre-commit==2.9.2
iubeo==0.2.0
psycopg2==2.9.5
django-lifecycle==1.0.0
django-extensions==3.1.0
django-hosts==5.1
django-admin-autocomplete-filter==0.7.1
python-dotenv==0.15.0
django-filter==2.4.0
django-pghistory==2.5.1
djangorestframework==3.12.2
decorator==5.1.1
whitenoise==6.2.0
ume==0.1.1
pytz==2022.7
uritemplate==4.1.1
pyyaml==6.0
django-object-actions==4.1.0
django-allauth==0.54.0
dj-rest-auth==3.0.0
django-sslserver==0.22
